@{
    Layout = "_BlankLayout";
    ViewData["Title"] = "Restablecer contrase침a";
}

<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
            <div class="card px-sm-6 px-0">
                <div class="card-body">
                    <div class="logo-container" style="text-align: center; padding: 20px 0;">
                        <img src="/img/Logo/logo.jpg" alt="Logo" style="width: 125px;">
                    </div>
                    <h4 class="mb-1">쯆lvidaste tu contrase침a? 游</h4>
                    <p class="mb-6">Ingresa tu correo para recibir instrucciones</p>
                    <form method="Get" action="@Url.Action("ForgotPasswordBasic", "Auth")">
                        <div class="mb-3">
                            <label for="email" class="form-label">Correo electr칩nico</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>
                        <button type="submit" class="btn btn-primary w-100" id="submitButton" onclick="this.disabled=true;this.form.submit();">Enviar enlace</button>
                    </form>
                    <div class="text-center">
                        <a href="@Url.Action("LoginBasic", "Auth")" class="d-flex justify-content-center">
                            <i class="bx bx-chevron-left me-1"></i>
                            Vuelve al Inicio de sesi칩n
                        </a>
                    </div>
                    @if (ViewBag.Message != null)
                    {
                        <div class="alert alert-success mt-3">@ViewBag.Message</div>
                    }
                    @if (ViewBag.Error != null)
                    {
                        <div class="alert alert-danger mt-3">@ViewBag.Error</div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
