@{
    Layout = "_BlankLayout";
    ViewData["Title"] = "Login - P치gina de Acceso";
}

<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
            <div class="card px-sm-6 px-0">
                <div class="card-body">
                    <div class="logo-container" style="text-align: center; padding: 20px 0;">
                        <img src="/img/Logo/logo.jpg" alt="Logo" style="width: 125px;">
                    </div>
                    <h4 class="mb-1">Bienvenido a FinanManager 游녦</h4>
                    <p class="mb-6">Inicia sesi칩n con tu cuenta</p>
                    <form method="post" action="@Url.Action("LoginBasic", "Auth")">
                        <div class="mb-3">
                            <label for="email" class="form-label">Correo electr칩nico</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Contrase침a</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                        <div class="mb-8">
                            <div class="d-flex justify-content-between mt-8">
                                <a href="/Auth/ForgotPasswordBasic">
                                    <span>쯆lvidaste la contrase침a?</span>
                                </a>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Iniciar sesi칩n</button>
                    </form>

                    <!-- Mensajes de 칠xito y error -->
                    <div style="margin-top: 20px;">
                        <!-- Agregamos un margen superior de 20px -->
                        @if (TempData["SuccessMessage"] != null)
                        {
                            <div class="alert alert-success" role="alert">
                                @TempData["SuccessMessage"]
                            </div>
                        }
                        @if (TempData["SessionExpired"] != null)
                        {
                            <div class="alert alert-warning">
                                @TempData["SessionExpired"]
                            </div>
                        }
                        @if (ViewBag.Error != null)
                        {
                            <div class="alert alert-danger mt-3">@ViewBag.Error</div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
