@{
    Layout = "_BlankLayout"; // Usa el mismo layout que tu login para mantener la consistencia
    ViewData["Title"] = "Sesión Expirada";
}

<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
            <div class="card px-sm-6 px-0">
                <div class="card-body">
                    <div class="logo-container" style="text-align: center; padding: 20px 0;">
                        <img src="/img/Logo/logo.jpg" alt="Logo" style="width: 125px;">
                    </div>
                    <div class="text-center">
                    <h4 class="mb-1">¡Tu sesión ha expirado! ⏳</h4>
                    <p class="mb-6">Por tu seguridad, la sesión se cerró debido a inactividad.</p>
                    </div>
                    <!-- Botón para redirigir al login -->
                    <div class="text-center">
                        <a href="@Url.Action("LoginBasic", "Auth")" class="btn btn-primary">
                            OK
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
